<!--
    This is hideous. airframes.org insists on getting a POST with a "submit" value specified,
    but if we have an input control with that name then it shadows the submit() function that
    we need. So steal the submit function off a different form. Surely there is a better way?!
  -->
<form id="horrible_hack" class="hidden"></form>
<form id="airframes_post" method="POST" action="http://www.airframes.org/" target="_blank" class="hidden">
    <input type="hidden" name="reg1" value="">
    <input type="hidden" name="selcal" value="">
    <input id="airframes_post_icao" type="hidden" name="ica024" value="{{flight.icao}}">
    <input type="hidden" name="submit" value="submit">
</form>
<a href="http://www.airframes.org/" {{action "request"}}>Aircraft
    Infos (Airframes)
</a>