<form>
    <div class="form-group">
        <label for="timeframe">Data from last</label>
        <div class="input-group">
            <Input @type="number" @value={{myTimeframe}} @id="timeframe" class="form-control" />
            <span class="input-group-addon">min.</span>
        </div>
    </div>
    <div class="checkbox">
        <label>
            <Input @type="checkbox" @checked={{myLive}} />Live Monitoring
        </label>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-default" onclick={{action "applySettings"}}>Apply</button>
    </div>
</form>